.template-addressblock_detail_view .addressText,
.template-addressblock_detail_view .addressMap {
    width:100%;
}

.sl-text-wrapper .addressText,
.sl-text-wrapper .addressMap {
    width: 50%;
    vertical-align: top;
    float:left;
}

/*Hide overlay*/
.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
    display: none;
}

.simplelayout-block-wrapper.ListingBlock table.listing {
    width:100%;
}

.simplelayout-block-wrapper.ListingBlock .gallery {
    clear:both;
}

.simplelayout-block-wrapper.ListingBlock .gallery .box{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    float:left;
}

.simplelayout-block-wrapper.ListingBlock .gallery .box .frame{
    display:table-cell;
    overflow: hidden;
    vertical-align: middle;
    background-color: #eee;
    border:1px solid #ddd;
}

/* @group news listing */
.newsListing .tileItem img {
  float: left;
  padding: 1em 1em 1em 0;
}
/* @end */


/* @group archive portlet */
.portletArchiveNews .highlight a {
  font-weight: bold;
}
/* @end */